<!DOCTYPE html>
<html>
<head>
  <title>Blocmetrics</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
      <div class="nav navbar">
        <span class="site-name">Blocmetrics</span>
        <button class="navbutton"><%= link_to "Home", root_path %></button>
        <button class="navbutton"><%= link_to "About", welcome_about_path %></button>
        <% if current_user %>
          <button class="navbutton"><%= link_to "App Index", registered_applications_path %></button>
          <button class="navbutton"><%= link_to "Add App", new_registered_application_path %></button>
          <button class="navbutton"><%= link_to "Logout", destroy_user_session_path, method: :delete %></button>
        <% else %>
          <button class="navbutton"><%= link_to "Login", new_user_session_path %></button>
          <button class="navbutton"><%= link_to "Sign Up", new_user_registration_path %></button>
        <% end %>
      </div>
    
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
        
  </div>

  

</body>
</html>
